@media (max-width: 423px) {
  header img {
    width: 305px;
    margin: -108px;
  }
  #search {
    width: 218px;
    padding: 10px 15px;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  #search-btn {
    width: 50px;
    padding: 10px 15px;
    font-size: 0.9rem;
  }
  
}
@media (max-width: 400px) {
  .overlayHeader img {
    width: 85px;
    height: 85px;
  }
  .overlayTabs button {
    font-size: 16px;
  }
}
@media (max-width: 342px) {
  .overlayTabs button {
    font-size: 14px;
  }
}

