body {
  margin: 0;
  color: whitesmoke;
}

header {
  background-color: #333;
  color: white;
  padding: 21px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header img {
  width: 400px;
  margin: -136px;
}

#search {
  background-color: #2c2c2c;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border: 2px solid #ef5350;
  border-radius: 50px;
  outline: none;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 280px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0px 10px 12px #ef5350, 0 4px 0px #b71c1c;;
}
#search::placeholder {
  color: #ff90b3;
  opacity: 0.8;
  font-style: italic;
  text-align: center;
}

main {
  background-color: #4c4c4c;
  min-height: calc(100vh - 220px);
  padding-bottom: 10px;
}

#allPokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  padding-top: 22px;
}

.card {
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 240px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 96px;
  height: 96px;
}

.type {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}
.fire {
  background-color: #f08030;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.water {
  background-color: #6890f0;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.grass {
  background-color: #78c850;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}

.poison {
  background-color: #a040a0;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.bug {
  background-color: #a8b820;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.normal {
  background-color: #a8a878;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.flying {
  background-color: #a890f0;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.fighting {
  background-color: #c03028;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.psychic {
  background-color: #f85888;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.rock {
  background-color: #b8a038;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.ground {
  background-color: #e0c068;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.ice {
  background-color: #98d8d8;
  color: black;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.ghost {
  background-color: #705898;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.dragon {
  background-color: #7038f8;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.dark {
  background-color: #705848;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.steel {
  background-color: #b8b8d0;
  color: black;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.fairy {
  background-color: #ee99ac;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
.electric {
  background-color: #f8d030;
  color: black;
  border: #333 solid 1px;
  border-radius: 11px;
  box-shadow: 0px 0px 20px 0px;
}
